@model AdvManagerSystem.Models.Image[]
@{
    ViewBag.Title = "Officeraction";
    int uncheckedCount = 0;
    int approvedCount = 0;
    int rejectedCount = 0;
}

<h2>Officer</h2>

<body>

    <div class="table-responsive">
        <table class="table table-bordered" id="uncheckedtable">
            <caption>Pending Advertisements</caption>
            <tbody>
                <tr>
                    <th>
                        Number
                    </th>
                    <th>
                        House image
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>
                @if (Model.Length != 0)
                {
                    foreach (AdvManagerSystem.Models.Image m in Model)
                    {   if (m.Status == "unchecked"){
                        <tr>
                                @{ uncheckedCount++; }
                                <td style="display:none">@m.ImageID</td>
                                <td>@uncheckedCount</td>
                                <td> <img class="img-responsive center-block" src="data:@m.ImageMimeType;base64, @Convert.ToBase64String(m.ImageData)" /></td>
                                <td>
                                    <input type="button" class="approve form-control" value="approve" />
                                    <div class="reject">
                                        <input type="button" class="form-control" value="reject" />
                                        <div style="display:none" class="comment"> Reject Reason: <textarea class="form-control" rows="5" type="hidden"></textarea></div>
                                        <input type="hidden" class="form-control" value="submit" />
                                    </div>
                                </td>
                        </tr>
                          }
                        }
                     }
            </tbody>
        </table>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered" id="approvetable">
            <caption>Approved Advertisements</caption>
            <tbody>
                <tr>
                    <th>
                        Number
                    </th>
                    <th>
                        House image
                    </th>
                </tr>
                @if (Model.Length != 0)
                {
                    foreach (AdvManagerSystem.Models.Image m in Model)
                    { 
                        if (m.Status == "approve") { 
                        <tr>
                                @{ approvedCount++; }
                                <td style="display:none">@m.ImageID</td>
                                <td>@approvedCount</td>
                                <td> <img class="img-responsive center-block" src="data:@m.ImageMimeType;base64, @Convert.ToBase64String(m.ImageData)" /></td>
                        </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered" id="rejecttable">
            <caption>Rejected Advertisements</caption>
            <tbody>
                <tr>
                    <th>
                        Number
                    </th>
                    <th>
                        House Image
                    </th>
                </tr>
                @if (Model.Length != 0)
                {
                    foreach (AdvManagerSystem.Models.Image m in Model)
                    {
                        if (m.Status == "reject") {
                        <tr>
                                @{ rejectedCount++; }
                                <td style="display:none">@m.ImageID</td>
                                <td>@rejectedCount</td>
                                <td> <img class="img-responsive center-block" src="data:@m.ImageMimeType;base64, @Convert.ToBase64String(m.ImageData)" /></td>
                           
                        </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</body>
<style>
    caption {
        text-align: left;
        font-size: large;
    }

    input[type="button"] {
        margin-bottom: 8%;
    }

    textarea {
        margin-bottom: 8%;
    }
    td .img-responsive {
        width: 300px;
        height:200px;
    }
   
</style>

<script type="text/javascript" src="~/Scripts/OfficerJs.js"></script>